
PREFIX=.
MODE=public
STATUSVIEW=true
ANTI_LINK=true
REJECTSCALLS=false
REPLY_STATUS=true
antidelete=true
BOT_NAME=Mvelase
AutoReaction=false
OWNER_NUMBER=263711337094;Mvelase
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by mvelase

